<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213976273353-4bq4jhufnsminvs24rvgfu0b6une6h72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213976273353-4bq4jhufnsminvs24rvgfu0b6une6h72</string>
	<key>API_KEY</key>
	<string>AIzaSyAYg0wSiF_lfgMecPzLy_6AbmPIyjcjMRY</string>
	<key>GCM_SENDER_ID</key>
	<string>213976273353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xapollon430.ClockBlocked</string>
	<key>PROJECT_ID</key>
	<string>clockblocked-f403c</string>
	<key>STORAGE_BUCKET</key>
	<string>clockblocked-f403c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213976273353:ios:a326728d4b2bc6e5ad9818</string>
</dict>
</plist>